<li class='px-4 text-white no-underline'>
  <%= link_to "Sign Up", new_customer_registration_path %>
</li>
<li class='px-4 text-white no-underline'>
  <%= link_to "Sign In", new_customer_session_path %>
</li>